name: Main

on:
  push
  pull_request

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 3
      matrix:
        os:
          - macos-latest
    steps:
      - uses: actions/checkout@master

      - name: Build sources
        run: |
          make
      
      - name: Build library
        run: |
          make packages
      
      - name: Say hello
        run: |
          ./laure -q 'message("hello")' -norepl
      
      - name: Run tests
        run: ./laure @/test tests -q "tests_run()" -norepl
